body {
    margin: 0 auto;
    min-height: 100vh;
    max-width: 1200px;
    box-sizing: border-box;
    font-family: "Comic Neue";
    background-color: antiquewhite;
}

h1 {
    font-weight: lighter;
    font-size: 66px;
    display: inline-block;
    font-style: italic;
    margin-bottom: 30px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 300px;
    background-image: url(../img/design1_image2.jpg);
    background-position-y: -140px;
}

nav {
    margin-top: -19px;
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: large;
    box-shadow: 3px 3px #ADB4BD;
}

.desactive {
    margin: 0px 5px;
    padding: 3px 15px;
    background-color: #0077B6;
    color: white;
    border: 1px solid black;
}

.active {
    margin: 0px 5px;
    padding: 3px 15px;
    background-color: #55A630;
    color: white;
    border: 1px solid black;
}

.section {
    border: 2px solid black;
    text-align: center;
    font-style: normal;
    margin-bottom: 50px;
}

h2 {
    margin: 5px 0px 5px;
}

.logo {
    display: block;
    position: absolute;
    width: 10%;
}

.logo img{
    width: 130px;
}


.main-flex-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 200px;
}


.img-main {
    display: flex;
}

.img-main img {
    width: 200px;
}

.details {
    display: flex;
    flex-direction: column;
}

dt {
    font-weight: bolder;
    font-size: larger;
    font-style: italic;
}

dd {
    margin-bottom: 20px;
}

.details h3 {
    font-weight: bolder;
    font-size: larger;
    margin-bottom: -15px;
}

.details p {
    text-indent: 20px;
    margin-right: 160px;
}

address {
    margin: 20px;
    font-style: normal;
}

footer {
    display: inline;
    position: relative;
    padding: 20px;
    text-align: center;
}