/* Estilo de prueba */

body {
    margin: 0 auto;
    min-height: 100vh;
    max-width: 1200px;
    box-sizing: border-box;
    font-family: "Comic Neue";
}

h1 {
    display: inline-block;
    font-weight: bolder;
    font-size: 66px;
    font-style: italic;
}

header {
    display: block;
    position: relative;
    top: -120px;
    width: 1200px;
    height: 300px;
    background-image: url(../img/design1_image1.jpg);
    background-position-y: -300px;
    background-position-x: -200px;
    opacity: 60%;
}

nav a {
    display: block;
    position: relative;
    top: 350px;
    padding: 40px 0px;
}

.desactive a {
    margin: 0px 5px;
}

.active {
    margin: 0px 5px;
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

.section {
    margin: -115px 0px 0px;
    border: 2px solid black;
    text-align: center;
    font-style: normal;
}

h2 {
    margin: 0px;
    color: white;
    background-color: black;
}

.logo {
    display: block;
    position: relative;
    top: -80px;
    left: 950px;
    width: 10%;
}

.logo img{
    width: 130px;
}

.details {
    display: block;
    position: relative;
    top: -90px;
    left: 150px;
    width: 75%;
}

dt {
    font-weight: bolder;
    font-size: larger;
    font-style: italic;
}

dd {
    margin-bottom: 30px;
}

.details h3 {
    font-weight: bolder;
    font-size: larger;
}

.details p {
    text-indent: 20px;
    margin-right: 160px;
}

address {
    margin: 20px;
    font-style: normal;
}

/* Estilo de prueba */